body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #5571ad;
  height: 100vh;
}

.dots_1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 200px;
  height: 200px;
}

.dots_1 .dot {
  width: 35px;
  height: 35px;
  background-color: #d64a4a;
  border: 2px solid #312f2f;
  border-radius: 42%;
}

.dots_1 .dot:nth-child(1) {
  -webkit-animation: transformDots1 2s linear infinite;
          animation: transformDots1 2s linear infinite;
}

.dots_1 .dot:nth-child(2) {
  -webkit-animation: transformDots1 2s linear 0.1s infinite;
          animation: transformDots1 2s linear 0.1s infinite;
}

.dots_1 .dot:nth-child(3) {
  -webkit-animation: transformDots1 2s linear 0.2s infinite;
          animation: transformDots1 2s linear 0.2s infinite;
}

@-webkit-keyframes transformDots1 {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  90% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  95% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes transformDots1 {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  90% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  95% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.dots_2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 200px;
  height: 200px;
}

.dots_2 .dot {
  width: 25px;
  height: 25px;
  background-color: #d64a4a;
  border: 2px solid #312f2f;
  border-radius: 50%;
}

.dots_2 .dot:nth-child(1), .dots_2 .dot:nth-child(5) {
  -webkit-animation: transformDots2 2s linear infinite;
          animation: transformDots2 2s linear infinite;
}

.dots_2 .dot:nth-child(2), .dots_2 .dot:nth-child(4) {
  -webkit-animation: transformDots2 2s linear 0.2s infinite;
          animation: transformDots2 2s linear 0.2s infinite;
}

.dots_2 .dot:nth-child(3) {
  -webkit-animation: transformDots2 2s linear 0.4s infinite;
          animation: transformDots2 2s linear 0.4s infinite;
}

@-webkit-keyframes transformDots2 {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  90% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  95% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes transformDots2 {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  90% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  95% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
/*# sourceMappingURL=index.css.map */