$blue: #5571ad;
$timeAnimation: 2s;
$size_dot: 35px;

body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $blue;
  height: 100vh;
}


.dots_1{  
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 200px;
  height: 200px;

  .dot{
    width: $size_dot;
    height: $size_dot;
    background-color: rgb(214, 74, 74);
    border: 2px solid rgb(49, 47, 47);
    border-radius: 42%
  }

  .dot:nth-child(1){
    animation: transformDots1 $timeAnimation linear infinite;
  }
  
  .dot:nth-child(2){
    animation: transformDots1 $timeAnimation linear .1s infinite;
  }
  
  .dot:nth-child(3){
    animation: transformDots1 $timeAnimation linear .2s infinite;
  }
}




@keyframes transformDots1{
  0%{
    transform: translateY(0);
  }
  90%{
    transform: translateY(0px);
  }
  95%{
    transform: translateY(-30px);
  }
  100%{
    transform: translateY(0);
  }
}

$size_dot: 25px;

.dots_2{  
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 200px;
  height: 200px;

  .dot{
    width: $size_dot;
    height: $size_dot;
    background-color: rgb(214, 74, 74);
    border: 2px solid rgb(49, 47, 47);
    border-radius: 50%
  }

  .dot:nth-child(1), .dot:nth-child(5){
    animation: transformDots2 $timeAnimation linear infinite;
  }
  
  .dot:nth-child(2), .dot:nth-child(4){
    animation: transformDots2 $timeAnimation linear .2s infinite;
  }
  
  .dot:nth-child(3){
    animation: transformDots2 $timeAnimation linear .4s infinite;
  }
}

@keyframes transformDots2{
  0%{
    transform: translateY(0);
  }
  90%{
    transform: translateY(0px);
  }
  95%{
    transform: translateY(-30px);
  }
  100%{
    transform: translateY(0);
  }
}