$dark: #171717;
$light: #eeeeee;

body{
  background-color: $dark;
}

.hamburger{
  padding: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: .5s;
}

.hamburger__box{
  position: relative;
  width: 35px;
  height: 30px;
}

@mixin hamburgers {
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: $light;
  left: 0;
}

.hamburger__inner{
  @include hamburgers();
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: .2s .1s ease-in-out;
}

.hamburger__inner::after,
.hamburger__inner::before{
  @include hamburgers();

  content: "";
  transition: .2s .2s ease-in-out;
}

.hamburger__inner::after{
  top: 10px;
}

.hamburger__inner::before{
  top: -10px;
}

.hamburger--active{
  transform: translateX(250px);
}

.hamburger--active .hamburger__inner{
  background-color: transparent;
}

.hamburger--active .hamburger__inner::after{
  transform: translateY(-10px) rotate(45deg);
}

.hamburger--active .hamburger__inner::before{
  transform: translateY(10px) rotate(-45deg);
}


.navigation{
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 250px;
  background-color: $light;
  transform: translateX(-250px);
  transition: 0.5s;
}

.navigation--active{
  transform: translateX(0px);
}